<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <button class="nav-button" (click)="onInicio()">Inicio</button>
            <button class="nav-button" (click)="onHistorial()">Historial</button>
            <button class="nav-button" (click)="onAlarma()">Alarmas</button>
            <button class="nav-button" (click)="onLogin()">Cerrar Sesión</button>
          </div>
        
        <div class="alarms">
            <div class="alarm">
                <span class="time">5:00 a.m.</span>
               
            </div>
            <div class="alarm">
                <span class="time">5:00 a.m.</span>
                
            </div>
            <div class="alarm">
                <span class="time">5:00 a.m.</span>
        
            </div>
            <div class="alarm">
                <span class="time">5:00 a.m.</span>
          
            </div>
            <div class="alarm">
                <span class="time">5:00 a.m.</span>
           
            </div>
        </div>
    </div>
</body>
</html>