<div class="navbar">
    <button class="nav-button" (click)="onInicio()">Inicio</button>
    <button class="nav-button" (click)="onHistorial()">Historial</button>
    <button class="nav-button" (click)="onAlarma()">Alarmas</button>
    <button class="nav-button" (click)="onLogin()">Cerrar Sesión</button>
  </div>
  
  <div class="content">
    <div class="alarms">
      <div class="alarm">
        <span class="time">5:00 a.m.</span>
        <span class="days">Do. Lu. Ma. Mi. Ju. Vi. Sa.</span>
      </div>
      <div class="alarm">
        <span class="time">5:00 a.m.</span>
        <span class="days">Do. Lu. Ma. Mi. Ju. Vi. Sa.</span>
      </div>
      <div class="alarm">
        <span class="time">5:00 a.m.</span>
        <span class="days">Do. Lu. Ma. Mi. Ju. Vi. Sa.</span>
      </div>
      <div class="alarm">
        <span class="time">5:00 a.m.</span>
        <span class="days">Do. Lu. Ma. Mi. Ju. Vi. Sa.</span>
      </div>
      <div class="alarm">
        <span class="time">5:00 a.m.</span>
        <span class="days">Do. Lu. Ma. Mi. Ju. Vi. Sa.</span>
      </div>
    </div>
  </div>
  