
    <nav>
        <a (click)="onInicio()">Inicio</a>
        <a (click)="onHistorial()">Historial</a>
        <a (click)="onAlarma()">Alarmas</a>
        <a (click)="onLogin()">Cerrar Sesión</a>
    </nav>
    
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Porcentaje</th>
                    <th>Tiempo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01 / 01 / 2025</td>
                    <td>80%</td>
                    <td>00 : 00</td>
                </tr>
                <tr>
                    <td>01 / 01 / 2025</td>
                    <td>65%</td>
                    <td>00 : 00</td>
                </tr>
                <tr>
                    <td>02 / 01 / 2025</td>
                    <td>90%</td>
                    <td>00 : 00</td>
                </tr>
                <tr>
                    <td>02 / 01 / 2025</td>
                    <td>55%</td>
                    <td>00 : 00</td>
                </tr>
                <tr>
                    <td>03 / 01 / 2025</td>
                    <td>72%</td>
                    <td>00 : 00</td>
                </tr>
                <tr>
                    <td>03 / 01 / 2025</td>
                    <td>60%</td>
                    <td>00 : 00</td>
                </tr>
                <tr>
                    <td>04 / 01 / 2025</td>
                    <td>98%</td>
                    <td>00 : 00</td>
                </tr>
            </tbody>
        </table>
    </div>